@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #3e3e3e;
  font-weight: 400;
  box-sizing: border-box;
}

body{
  font-family: 'Quicksand', sans-serif;
}


.container{
  width: 40rem;
  margin: 0 auto;
}


nav h1{
font-size: 1.15rem;
font-weight: 500;
color: rgb(162, 59, 59);
}

nav.navbar{
  display: flex;
  border-bottom: 2px solid rgba(0,0,0,.25);
  justify-content: space-between;
  align-items: center;
}

nav.navbar ul{
  list-style: none;
  display: flex;
}

nav.navbar ul > li > a {
  padding: 1rem .5rem;
  display: block;
  text-decoration: none;
}



/* - BLOG - */
.blog-preview{
  border: 1px solid #9b9b9b;
  padding: 1rem;
  margin: .5rem 0;
}

.blog-preview h2{
  font-weight: 600;
  color: rgb(162, 59, 59);

}

.blog-preview span{
  font-size: 90%;
  color: #686868;
}

b{
  font-weight: 400;
}

.error-message{
  background: rgb(255, 202, 202);
  color: rgb(63, 19, 19);
  padding: 1rem;
  margin: 1rem 0;
}

.loading-message{
  background: rgb(255, 253, 202);
  color: rgb(109, 92, 21);
  padding: 1rem;
  margin: 1rem 0;
}

.create{
  margin: 1rem auto;
}

h2{
  font-size: 1.2rem;
  font-weight: 600;
}


.blog-details{
  margin: 1rem 0;
}

.blog-details h2{
  font-size: 1.3rem;
}

.blog-details > div{
  padding: .5rem 0;
}

.blog-details > .author{
  font-size: .9rem;
  color: #ccc;
}

.add-blog-form > *{
width: 100%;
margin: .5rem 0;
}

.add-blog-form > select,
.add-blog-form > input,
.add-blog-form > textarea,
.add-blog-form > button{
  line-height: 1.2rem;
  padding: .5rem;
}

.add-blog-form > textarea{
  min-height: 5rem;
}

.add-blog-form > button{
  background-color:rgb(162, 59, 59);
  border: none;
  border-bottom: 3px solid rgb(113, 31, 31);
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}